<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']"><b>Login</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']"><b>Sign-up</b></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row text-center">
    <!--for all small devices & devices larger then this, keep column size 6 & move to right by 3 columns & display, keep padding 4 -->
    <div class="col-sm-6 offset-sm-3 p-4" style="border: ridge;"><br>
      <h2>Forgot Password?</h2>
      <p>You can reset your password here.</p><br>


      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
        </div>
        <!--If the email input field is touched & its invalid then apply bootstrap-4 class is-invalid(red color border)-->
        <input type="email" id="inputEmail" name="email" #mail="ngModel"
          [class.is-invalid]="mail.invalid && mail.touched" class="form-control" [(ngModel)]="email"
          placeholder="Email address" required autofocus>
      </div>
      <!--if email input field is valid or untouched then set display property to none(i,e dont display any error message)-->
      <small class="text-danger" [class.d-none]="mail.valid || mail.untouched">**Email is
        required</small>
      <br>

      <div>
        <button class="btn btn-primary btn-lg btn-block" [disabled]="mail.invalid" type="button"
          (click)="forgotPassword()">Forgot Password</button>
      </div>
      <br>
    </div>
  </div>
</div>